.box {
	height: 185px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
}

.box-1 {
	background: linear-gradient(112.14deg, #EECF65 21.01%, #4E9E86 99.84%);
}
.box-2 {
	background: linear-gradient(113.57deg, #67D2DC 16.89%, #DE3FF2 81.02%);
}
.box-3 {
	background: linear-gradient(119.09deg, #F26979 5.88%, #FCB8C5 95.99%);
}
.box-image {
	width: 50px;
	height: 50px;
	margin-top: 30px;
}
.box-text {
	margin-top: 10px;
	color: white;
	font-weight: bold;
	margin-left: 10px;
}

.bg-image {
    width: 100%;
    height: 100vh;
    background-size: auto auto;
    object-fit:cover;
}

@media (max-width: 540px) {  /* Если меньше то работает */
	.box {
		margin-left: 20px;
		margin-right: 20px;
		min-width: 200px;
	}
}

.test {
    border: 2px solid black;
}