{% load dashboard_tags %}
<div class="col-md-3">
    <div class="col justify-content-center">
        <h2 class="text-center py-4">My Home</h2>
        <div class="nav flex-column nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical">
            {% get_places as places %}
            {% for item in places %}
            {% if request.path == item.get_absolute_url %}
            <a class="nav-link active" id="v-pills-home-tab"  href="{{ item.get_absolute_url }}" role="tab"
               aria-controls="v-pills-home" aria-selected="true">{{ item.name }}</a>
            {% else %}
            <a class="nav-link" id="v-pills-home-tab"  href="{{ item.get_absolute_url }}" role="tab"
               aria-controls="v-pills-home" aria-selected="true">{{ item.name }}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

